@import url("../../node_modules/easymde/dist/easymde.min.css");
@import url("tailwind.min.css");

.CodeMirror {
  /* Add the styles from the "text-gray-500 font-bold bg-gray-100" class here */
  color: #6b7280;
  font-weight: 700;
  background-color: #f3f4f6;
}

.EasyMDEContainer .CodeMirror{
  font-weight: 700;
}